# RBAC for the webhook wait job
apiVersion: v1
kind: ServiceAccount
metadata:
  name: metallb-config-wait
  namespace: metallb-system
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: metallb-config-wait
  namespace: metallb-system
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
rules:
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: metallb-config-wait
  namespace: metallb-system
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
subjects:
  - kind: ServiceAccount
    name: metallb-config-wait
    namespace: metallb-system
roleRef:
  kind: Role
  name: metallb-config-wait
  apiGroup: rbac.authorization.k8s.io
